@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Review Assignment

   Columns Style Sheet
   Author: Chatoya Wells
   Date:   11/28/2025

   Filename:         dlr_columns2.css

*/



/* Column Styles */


