@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Chatoya Wells
   Date:   11/28/2025
   
   Filename: gp_layout.css

   This file contains the layout styles and media
   queries used with sample pages from the Golden
   Pulps website.

*/


/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");



/* Flex Layout Styles */

/* Body as flexbox: row with wrapping */
body {
   display: flex;
   flex-flow: row wrap;
}

/* Comic sheet gets more width */
section#sheet {
   flex: 3 1 301px;   /* grow:3, shrink:1, basis:301px */
}

/* Article gets less width */
article {
   flex: 1 3 180px;   /* grow:1, shrink:3, basis:180px */
}

/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px) {

   /* Each panel image occupies a full row */
   img.panel {
      width: 100%;
   }

   /* Move horizontal nav near bottom */
   nav.horizontal {
      order: 99;
   }

   /* Footer at very bottom */
   body > footer {
      order: 100;
   }
}

/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
@media only screen and (min-width: 481px) {

   /* Horizontal nav list: single row, no wrapping */
   nav.horizontal ul {
      display: flex;
      flex-flow: row nowrap;
      height: 40px;
   }

   /* Each nav item grows/shrinks evenly */
   nav.horizontal ul li {
      flex: 1 1 auto;
   }

   /* Panel sizes on wider screens */
   img.size1 {
      width: 100%;
   }

   img.size2 {
      width: 60%;
   }

   img.size3 {
      width: 40%;
   }

   img.size4 {
      width: 30%;
   }
}


