@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Case Problem 1

   Tables Style Sheet
   Author: Chatoya Wells
   Date:   11/28/2025

   Filename:         mi_tables.css

*/

/* Table Styles */
table {
   background-image: linear-gradient(to bottom, rgb(190, 215, 255), black);
   border: 5px solid gray;
   border-collapse: collapse;
}

table th,
table td {
   border: 3px solid gray;
   line-height: 1.4em;
   padding: 8px;
}

table th {
   background-color: black;
   color: rgb(130, 210, 255);
   font-weight: normal;
}

table td {
   color: white;
   font-size: 0.9em;
   vertical-align: top;
}


/* Column Styles */
col#firstCol {
   width: 24%;
}

col.dataCols {
   width: 19%;
}

/* Table Header Styles */

/* header rows */
table thead tr {
   height: 60px;
}

/* first th in first header row */
table thead tr:first-of-type th:first-of-type {
   font-size: 2em;
}

/* header cells in first row that are NOT the first one */
table thead tr:first-of-type th:not(:first-of-type) {
   background-color: transparent;
   color: black;
}










