@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Case Problem 1

   Rhetoric in the United States Styles for Media
   Author: Chatoya Wells
   Date:   12/1/2025

   Filename: ws_media.css

*/

/* VideoPlayer Styles */
/* default video layout */
video {
   display: block;
   width: 90%;
   margin: 5px auto;   /* 5px top/bottom, centered left/right */
}

/* wider screens: player on the right */
@media only screen and (min-width: 521px) {
   video {
      width: 360px;
      float: right;
      margin: 5px 10px;  /* 5px top/bottom, 10px left/right */
   }
}

/* Track Styles */
/* caption cue appearance */
::cue {
   font-family: sans-serif;
   font-size: 1.3em;
   color: rgb(221, 128, 160);
   background-color: rgba(255, 255, 255, 0.8);
}

